body {
	font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;

    margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {
	border: 0;

	display: block;
	width: 100%;
	height: 1px;

	margin: 40px 0;

	background-color: #e5e5e5;
}


/* Container
=============================*/

.container {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}


/* Intro
=============================*/

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	min-height: 820px;
	position: relative;

	background: url(../images/intro.jpg) center no-repeat;
	background-size: cover;
}

.intro-inner {
	width: 100%;
	max-width: 880px;

	margin: 0 auto;
	text-align: center;
}

.intro-title {
	color: #fff;
	font-weight: 700;
	font-size: 150px;
	text-transform: uppercase;
	line-height: 1;
}

.intro-title:after {
	content: "";
	display: block;
	background: #fff;
	width: 60px;
	height: 3px;

	margin: 60px auto;
}

.intro-suptitle {
	font-size: 72px;
	font-family: 'Kaushan Script', cursive;
	color: #fff;

    margin-bottom: 20px;
}


/* Header
=============================*/

.header {
    width: 100%;
    padding-top: 30px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header.fixed {
	padding: 10px 0;
	background: linear-gradient(to right, #eb8b8d, #eed289);

	box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	transform: translate3d(0, 0, 0);
}

.header.active {
    background: linear-gradient(to right, #eb8b8d, #eed289);
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	color: #fff;
	font-weight: 700;
	font-size: 30px;
}


/* Nav
=============================*/

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav-link {
	color: #fff;
	text-decoration: none;

	display: inline-block;
	vertical-align: top;
	margin: 0 20px;

	position: relative;

	transition: color 0.1s linear;
}

.nav-link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fce38a;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.1s linear;

	opacity: 0;
}

.nav-link:hover {
	color: #fce38a;
}

.nav-link:hover:after {
	opacity: 1;
}


/* Nav Toggle
=============================*/

.nav-toggle {
	width: 30px;

	padding: 10px 0;

	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 1;
	display: none;
}

.nav-toggle:focus {
	outline: 0;
}

.nav-toggle.active .nav-toggle-item {
    background: none;
}

.nav-toggle.active .nav-toggle-item:before {
	transform: rotate(45deg) translate3d(0, -3px, 0);
	transform-origin: top left;
}

.nav-toggle.active .nav-toggle-item:after {
	transform: rotate(-45deg) translate3d(0, 3px, 0);
	transform-origin: bottom left;
}

.nav-toggle-item {
	display: block;

	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background 0.2s linear;
}

.nav-toggle-item:before,
.nav-toggle-item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform 0.2s linear;
}

.nav-toggle-item:before {
	top: -8px;
}

.nav-toggle-item:after {
	top: +8px;
}


/* Btn
=============================*/

.btn {
	display: inline-block;
	vertical-align: top;

	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;

	border: 3px solid #fff;
	text-decoration: none;
	padding: 8px 30px;

	transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
	background: #fff;
	color: #333;
}


/* Slider
=============================*/

.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider-inner {
	display: flex;
    justify-content: space-between;
}

.slider-item {
	padding: 20px 0;
    width: 23%;
    position: relative;

    opacity: 0.7;

    border-top: 3px solid #fff;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider-item.active {
	opacity: 1;
}

.slider-item.active:before {
	content: "";
	display: block;
	width: 70px;
	height: 3px;

	background-color: #f38181;

	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
}

.slider-num {
	font-size: 24px;
	font-weight: 700;
}


/* Section
=============================*/

.section {
    padding: 80px 0;
    overflow: hidden;
}

.section--devices {
	background: url(../images/devices-bg.jpg) 
	center no-repeat;
	background-size: cover;

    margin-bottom: 40px;
	padding-bottom: 0;
}

.section--gray {
	background-color: #f8f8f8;
}

.section--clients {
	background: url(../images/clients/bg.jpg) center 
	no-repeat;
	background-size: cover;
}

.section--map {
	background: url(../images/map/bg.jpg) center 
	no-repeat;
	background-size: cover;
	padding: 70px 0;
}

.section-header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;

	text-align: center;
}

.section-suptitle {
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	color: #333;
}

.section-title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section-title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;

	margin: 30px auto;

	background: #f38181;
}

.section-text {
	font-size: 15px;
	color: #999;
}


/* About
=============================*/

.card {
    margin: 80px -15px 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card-item {
	width: 33.33333%;
	padding: 0 15px;
}

.card-inner {
	position: relative;

	background-color: #95e1d3;
}

.card-item:hover .card-image {
	transform: translate3d(-10px, -10px, 0px);
}

.card-item:hover .card-image img {
    opacity: 0.1;
}

.card-item:hover .card-text {
	opacity: 1;
	transform: translate3d(-10px, -10px, 0px);
}

.card-image {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform 0.2s linear;
}

.card-image img {
	display: block;
	max-width: 100%;
	height: auto;
	transition: opacity 0.1s linear;
}

.card-text {
    width: 100%;

	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	opacity: 0;

	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;

	transition: opacity 0.2s linear, transform 0.2s linear;
}

.card-info {
	margin-top: 20px;
	text-align: center;
}

.card-name {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 700;

    margin-bottom: 5px;
}

.card-prof {
    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}


/* Statistics
=============================*/

.statistics {
	background-color: #95e1d3;
}

.stat {
	display: flex;
	flex-wrap: wrap;
}

.stat-item {
	flex: 1 1 0;
	border-left: 1px solid #b5eae0;

    padding: 70px 25px;
	text-align: center;

	color: #fff;
}

.stat-item:last-child {
	border-right: 1px solid #b5eae0;
}

.stat-count {
	font-size: 72px;
	font-weight: 700;
	line-height: 1;

	margin-bottom: 10px;
}

.stat-text {
	font-size: 14px;
	text-transform: uppercase;
}


/* Services
=============================*/

.services {
	display: flex;
	flex-wrap: wrap;
}

.services-item {
	width: 33.33333%;
	margin-bottom: 40px;

	padding: 0 35px 40px 85px;
	position: relative;
}

.services-item--border {
	border-bottom: 1px solid #e5e5e5;
}

.services-icon {
	position: absolute;
	top: 0;
	left: 28px;
	z-index: 1;
}

.services-title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.services-text {
	font-size: 15px;
	color: #999;
}


/* Devices
=============================*/

.devices {
	width: 100%;
	max-width: 600px;
	margin-left: 250px;

	position: relative;
}

.devices-item {
	display: block;
	max-width: 100%;
	height: auto;
}

.devices-item--iphone {
	position: absolute;
	bottom: -90px;
	right: -80px;
	z-index: 1;
}


/* Wedo
=============================*/

.wedo {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.wedo-item {
	width: 50%;
	padding: 0 15px;
}

.wedo-image {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Accordion
=============================*/

.accordion-item {
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
}

.accordion-item.active
.accordion-content {
	display: block;
}

.accordion-item.active
.accordion-header {
	border-bottom-color: #e5e5e5;
}

.accordion-item.active
.accordion-header:after {
	transform: translateY(-15%) rotate(-45deg);
}


.accordion-header {
	border-bottom: 1px solid transparent;

	padding: 15px 20px 15px 60px;

	position: relative;

	cursor: pointer;
}

.accordion-header:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;

	position: absolute;
	top: 45%;
	right: 20px;
	z-index: 1;

	transform: translateY(-50%) rotate(135deg);
}

.accordion-icon {
	position: absolute;
	top: 50%;
	left: 15px;
	z-index: 1;

	transform: translateY(-50%);
}

.accordion-content {
	padding: 15px 20px;

	font-size: 15px;
	font-style: italic;
	font-weight: 300;
	color: #999;

	display: none;
}

.accordion-title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}


/* Reviews
=============================*/

.reviews {
	position: relative;
}

.reviews .slick-slider {
	padding: 0 110px;
}

.reviews-item {
    padding-left: 205px;
    position: relative;
}

/*.reviews-item--author {
	padding-left: 300px;
}*/

.reviews-photo {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	border: 2px solid #95e1d3;
	padding: 40px;
}

.reviews-photo--author {
	border: 0;
	position: absolute;
	left: -35px;
	top: -35px;
	width: 240px;
	height: 240px;
}

.reviews-text {
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	color: #999;

	margin-bottom: 15px;
}

.reviews-author {
	font-size: 24px;
	color: #333;
	font-family: 'Kaushan Script', cursive;
}

.reviews-author:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 3px;

	margin-right: 10px;

	background-color: #f38181;
}

.slick-arrow {
    font-size: 0;
    color: transparent;
    cursor: pointer;

    display: block;

    border: none;
    background: none;

	position: absolute;
	top: 50%;
    z-index: 1;
	transform: translateY(-50%);
}

.slick-arrow:focus {
	outline: 0;
}

.slick-arrow:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;

	transform: rotate(0deg);
}

.slick-prev {
	left: 0px;
	transform: rotate(-45deg);
}

.slick-next {
	right: 0px;
	transform: rotate(135deg);
}


/* Logos
=============================*/

.logos-img {
	display: block;
	width: 100%;
	height: auto;
}


/* Social
=============================*/

.social {
	display: flex;
	justify-content: center;
}

.social-item {
	background-color: #fce38a;
	border-right: 1px solid #f38181;

	width: 55px;
	height: 55px;

	padding: 12px 10px;

	text-decoration: none;
	color: #f38181;
	font-size: 30px;
	line-height: 1;

	transition: background-color 0.1s linear, 
	color 0.1s linear;
}

.social-item:last-child {
	border-right: 0;
}

.social-item:hover {
	background-color: #f38181;
	color: #fff;
}


/* Works
=============================*/

.works {
	display: flex;

	margin-top: 100px;
}

.works-col {
	flex: 1 1 0;
}

.works-item {
	position: relative;

	background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works-item:hover .works-image {
	opacity: 0.1;
}

.works-item:hover .works-info {
	opacity: 1;
}

.works-image {
	transition: opacity 0.2s linear;

	display: block;

	max-width: 100%;
	height: auto;
}

.works-info {
    width: 100%;
    padding: 0 15px;

	position: absolute;
	top: 50%;
	left: 0;
	transform: translate3d(0px, -50%, 0px);

	text-align: center;

	color: #fff;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.works-title {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;

	margin-bottom: 5px;
}

.works-text {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}


/* Clients
=============================*/

.clients {
	display: flex;
	flex-wrap: wrap;

	margin-top: 70px;
}

.clients-item {
	width: 50%;
	padding: 0 45px 0 175px;
	position: relative;

	margin-bottom: 60px;
}

.clients-photo {
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 1;
}

.clients-name {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;

	margin-bottom: 5px;
}

.clients-prof {
	color: #333;
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
}

.clients-text {
	font-size: 15px;
	color: #999;
}

.clients-text:before {
	content: "";
	display: block;
	width: 60px;
	height: 3px;

	background-color: #f38181;

	margin: 15px 0;
}


/* Blog
=============================*/

.blog {
	display: flex;
	justify-content: space-between;
}

.blog-item {
	width: 31%;
}

.blog-header {
	position: relative;
	margin-bottom: 20px;
}

.blog-photo {
	display: block;
	max-width: 100%;
	height: auto;
}

.blog-date {
	position: absolute;
	bottom: 10px;
	left: -10px;
	z-index: 1;

	background-color: #95e1d3;

	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	color: #fff;
	text-align: center;

	padding: 10px 15px;
}

.blog-date-day {
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	line-height: 1;
}

.blog-content {
	margin-bottom: 14px;
}

.blog-title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.blog-text {
	font-size: 15px;
	color: #999;
}

.blog-footer {
	border-top: 1px solid #e5e5e5;
	padding-top: 14px;

	font-size: 15px;
	color: #999;
	font-weight: 300;
	font-style: italic;
}

.blog-stat {

}

.blog-stat-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.blog-stat-item img {
	vertical-align: middle;
	margin-right: 4px;
}


/* Map
=============================*/

.map {
	text-align: center;
}

.map-title {
	font-size: 24px;
	font-weight: 700;
	color: #f38181;
}

.map-title a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}

.map-title a:hover {
	text-decoration: underline;
}

.map-title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;

	margin: 15px auto 0;

	background: #f38181;
}


/* Footer
=============================*/

.footer {
	padding-top: 65px;
	background-color: #f8f8f8;
}

.footer-inner {
	display: flex;
	flex-wrap: wrap;
    padding-bottom: 65px;
    justify-content: space-between;
    margin: 0 -15px;
}

.footer-col {
	padding: 0 15px;
}

.footer-col--first {
	width: 40%;
}

.footer-col--second {
	width: 29%;
}

.footer-col--third {
	width: 22%;
}

.footer-logo {
	font-size: 46px;
	font-weight: 700;
	color: #ccc;
	margin-bottom: 30px;
}

.footer-text {
	font-size: 15px;
	color: #999;
	margin-bottom: 30px;
}

.footer-social {
	margin-bottom: 25px;
}

.footer-social-header {
    font-size: 14px;
    color: #333;

    padding-bottom: 15px;

    border-bottom: 1px solid #e5e5e5;
}

.footer-social-header b {
	font-size: 18px;
}

.footer-social-content {
	padding-top: 15px;

	font-size: 15px;
	#color: #999;
	font-style: italic;
	font-weight: 300;
}

.footer-social-content a {
	text-decoration: none;

	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.footer-title {
	font-size: 14px;
	color: #333;
	font-weight: 700;
	text-transform: uppercase;

	margin: 30px 0;
}


/* Blogs
=============================*/

.blogs-item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.blogs-img {

}

.blogs-content {
	padding-left: 20px;
}

.blogs-title {
	display: block;
	margin-bottom: 5px;

	font-size: 12px;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.5;
}

.blogs-title:hover {
	font-weight: 700;
	text-decoration: underline;
}

.blogs-date {
	font-size: 13px;
	color: #999;
	font-style: italic;
	font-weight: 300;
}


/* Subscribe
=============================*/

.subscribe {
	width: 100%;
	max-width: 380px;
	display: flex;
}

.subscribe-input {
	height: 40px;
	width: 60%;

    padding: 12px;

	background-color: #fff;
	border: 1px solid #e7e7e7;
	border-right: 0;

    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
	color: #333;
	line-height: 1.1;
}

.subscribe-input::placeholder {
	color: #ccc;
}

.subscribe-btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.1;


	background-color: #95e1d3;
	border: 0;
	cursor: pointer;

	height: 40px;
	width: 40%;
	padding: 12px 30px;

	transition: background 0.1s linear
}

.subscribe-btn:hover {
	background: #74c7b8;

}

.subscribe-btn {
	outline: 0;
}

.subscribe-input:focus {
	border-color: #74c7b8;
	outline: 0;
}


/* Instagram
=============================*/

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram-item {
    width: 33%;

    border-bottom: 1px solid #fff;
}

.instagram-item img {
	display: block;
	max-width: 100%;
	height: auto;
}


/* Copyright
=============================*/

.copyright {
	border-top: 1px solid #e5e5e5;

	padding: 20px 0;

    font-size: 14px;
    color: #333;
	text-align: center;
}

.copyright span {
	color: #f38181;
}


@media (max-width: 1230px) {
	/* Intro
=============================*/

	.intro-suptitle {
		font-size: 52px;
	}

    .intro-title {
    	font-size: 120px;
    }

    /* Reviews */

    .reviews-text {
    	font-size: 20px;
    }
}


@media (max-width: 990px) {
	/* Intro
=============================*/

	.intro-suptitle {
		font-size: 32px;
	}

    .intro-title {
    	font-size: 80px;
    }

    /*Stat*/

    .stat {
    	justify-content: center;
    }

    .stat-item {
    	flex: none;
    	width: 33.33333%;

    	border: 0;
    	padding-top: 30px;
    	padding-bottom: 30px;
    }

    .stat-item:last-child {
    	border-right: 0;
    }

    /* Service */

    .services-item {
    	width: 50%;
    	padding-bottom: 0;
    }

    .services-item--border {
    	border: 0;
    }

    /* Devices */

    .devices {
    	margin: 0 auto;
    }

    /* Reviews */

    .reviews .slick-slider {
    	padding: 0 60px;
    }

    .reviews-photo {
    	width: 110px;
    	height: 110px;
    	padding: 25px;
    }

    .reviews-photo--author {
    	width: 200px;
    	height: 200px;
    	margin: 0 auto 20px;
    	position: static;
    }

    .reviews-item {
    	padding-left: 150px;
    }

    /* Clients */

    .clients {
    	max-width: 600px;
    	margin: 0 auto;
    }

    .clients-item {
    	width: 100%;
    	padding-right: 0;
    }

    .clients-item:last-child {
    	margin-bottom: 0;
    }

    /* Footer */

    .footer-col--first {
    	width: 100%;
    }

    .footer-col--second,
    .footer-col--third {
    	width: 50%;
    }

    /* Instagram */

    .instagram {
    	justify-content: flex-start;
    }

    .instagram-item {
    	width: auto;
    	border-right: 1px solid #fff;
    }
}

@media (max-width: 770px) {
	/* Header */

    .header {
    	padding: 10px 0;
    }

	/* Nav
=============================*/
	.nav {
		display: none;

		width: 100%;

		position: absolute;
		top: 100%;
		left: 0;

		background: linear-gradient(to right, #eb8b8d, 
			#eed289);
	}

	.nav.active {
		display: block;
	}

	.nav-link {
		display: block;

		margin: 0;
		padding: 8px 20px;
	}

	.nav-toggle {
		display: block;
	}

	/* Slider
=============================*/

	.slider-text {
		display: none;
	}

	.slider-item.active:before {
		width: 50%;
	}

	/* Card */

	.card {
		margin-top: 50px;
		justify-content: center;
	}

	.card-item {
		width: 100%;
		max-width: 410px;

		margin-bottom: 30px;
	}

	.card-item:last-child {
		margin-bottom: 0;
	}

		/* Section
=============================*/

    .section {
    	padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

    /* Service */

    .services {
    	justify-content: center;
    }

    .services-item {
    	width: 100%;
    	max-width: 400px;
    	padding-left: 50px;
    	padding-right: 0;
    }

    .services-icon {
    	left: 0px;
    }

     /* Wedo */

    .wedo-image {
    	display: none;
    }

    .wedo-item {
    	width: 100%;
    }

    /* Reviews */

    .reviews-photo {
    	position: static;
    	margin: 0 auto 20px;
    }

    .reviews-item {
    	padding-left: 0;
    }

    .reviews-text {
    	font-size: 16px;
    }

    .reviews-author {
    	font-size: 20px;
    }

    /* Works */

    .works {
    	flex-wrap: wrap;
    }

    .works-col {
    	width: 50%;
    	flex: none;
    }

    /* Blog */

    .blog {
    	flex-wrap: wrap;
    	max-width: 380px;
    	margin: 0 auto;
    }

    .blog-item {
    	width: 100%;
    	margin-bottom: 30px;
    }

    .blog-item:last-child {
    	margin-bottom: 0;
    }

    /* Footer */

    .footer-col--second,
    .footer-col--third {
    	width: 100%;
    }

    /* Footer */

    .intro {
		min-height: 650px;
	}
}

@media (max-width: 575px) {
	/* Intro
=============================*/

	.intro-suptitle {
		font-size: 22px;
	}

    .intro-title {
    	font-size: 40px;
    }

    /* Section
=============================*/

    .section-header {
    	margin-bottom: 50px;
    }
    
    .section-title {
    	font-size: 24px;
    }

    .section-suptitle {
    	font-size: 20px;
    }

    .section-title:after {
    	margin: 20px auto;
    }

    /*Stat*/

    .stat-item {
    	width: 100%;

    	border-bottom: 1px solid #b5eae0;
    }

    .stat-item:last-child {
    	border-bottom: 0;
    }

    .stat-count {
    	font-size: 52px;
    }

    /* Devices */

    .devices {
    	max-width: 320px;
    	margin: 0 auto;
    }

    .devices-item--iphone {
    	width: 180px;
    	right: -30px;
    }

    /* Reviews */

    .reviews .slick-slider {
    	padding: 0;
    }

    .slick-arrow {
    	top: 45px;
    } 

    .reviews-btn--author {
    	top: 95;
    }

    /* Works */

    .works-col {
    	width: 100%;
    }

    /* Clients */

    .clients-photo {
    	position: static;
    }

    .clients-item {
    	padding-left: 0;
    	text-align: center;
    }

    .clients-text:before {
    	margin: 15px auto;
    }

    /* Subscribe */

    .subscribe {
    	flex-wrap: wrap;
    	max-width: none;
    }

    .subscribe-input {
    	border-right: 1px solid #e7e7e7;
    	margin-bottom: 10px;
    }

    .subscribe-input,
    .subscribe-btn {
    	width: 100%;
    }

    /* Blogs */

    .blogs-img {
    	width: 80px;
    	height: 50px;
    }

    .blogs-title {
    	font-size: 10px;
    }

    .footer-social-content a {
    	margin-left: 9px;
    }
}